<%= form_with(model: preservice, local: true) do |form| %>
  <% if preservice.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(preservice.errors.count, "error") %> prohibited this preservice from being saved:</h2>

      <ul>
      <% preservice.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :type_service %>
    <%= form.text_field :type_service, id: :preservice_type_service, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :note %>
    <%= form.text_area :note, id: :preservice_note, class:'form-control'%>
  </div>

  <div class="form-group">
    <%= form.label :reasons %>
    <%= form.text_area :reasons, id: :preservice_reasons, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :situation %>
    <%= form.text_field :situation, id: :preservice_situation, class:'form-control' %>
  </div>

  <div class="form-group>
    <%= form.label :patient_id %>
    <%= form.collection_select :patient_id, Patient.all, :id, :name, prompt: true %>
  </div>
<br>
  <div class="actions">
    <button class="btn btn-primary" type="submit">Cadastrar Pré serviço</button>
  </div>
<% end %>
