<p id="notice"><%= notice %></p>

<h1>Preservices</h1>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th class="success">Type service</th>
      <th class="success">Note</th>
      <th class="success">Reasons</th>
      <th class="success">Situation</th>
      <th class="info">User</th>
      <th class="info">Patient</th>
      <th colspan="3" class="active"></th>
    </tr>
  </thead>

  <tbody>
    <% @preservices.each do |preservice| %>
      <tr>
        <td><%= preservice.type_service %></td>
        <td><%= preservice.note %></td>
        <td><%= preservice.reasons %></td>
        <td><%= preservice.situation %></td>
        <td><%= preservice.user.email %></td>
        <td><%= preservice.patient.name %></td>
        <td><%= link_to 'Show', preservice %></td>
        <td><%= link_to 'Edit', edit_preservice_path(preservice) %></td>
        <td><%= link_to 'Destroy', preservice, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Preservice', new_preservice_path %>
