<p id="notice"><%= notice %></p>

<h1>Consultations</h1>

<table class="table table-hover table-bordered">
  <thead>
    <tr>
      <th class="success">Historic</th>
      <th class="success">Note</th>
      <th class="success">Payment</th>
      <th class="success">Status</th>
      <th class="info">Doctor</th>
      <th class="info">Patient</th>
      <th colspan="3" class="active"></th>
    </tr>
  </thead>

  <tbody>
    <% @consultations.each do |consultation| %>
      <tr>
        <td><%= consultation.historic %></td>
        <td><%= consultation.note %></td>
        <td><%= consultation.payment %></td>
        <td><%= consultation.status %></td>
        <td><%= consultation.doctor.name %></td>
        <td><%= consultation.patient.name %></td>
        <td><%= link_to 'Ver', consultation %></td>
        <td><%= link_to 'Editar', edit_consultation_path(consultation) %></td>
        <td><%= link_to 'Excluir', consultation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nova Consulta', new_consultation_path %>
