<%= form_with(model: patient, local: true) do |form| %>
  <% if patient.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(patient.errors.count, "error") %> prohibited this patient from being saved:</h2>

      <ul>
      <% patient.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :patient_name, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :cpf %>
    <%= form.text_field :cpf, id: :patient_cpf, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :birth %>
    <%= form.text_field :birth, id: :patient_birth, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :phone %>
    <%= form.text_field :phone, id: :patient_phone, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :address %>
    <%= form.text_field :address, id: :patient_address, class:'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :companion %>
    <%= form.text_field :companion, id: :patient_companion, class:'form-control' %>
  </div>

  <div class="form-group">
    <button class="btn btn-primary" type="submit">Novo Paciente</button>
  </div>
<% end %>
