<!DOCTYPE html>
<html>
  <head>
    <title>Clinica2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

	<!-- se o usuario estiver logado, aparece o botao deslogar  -->
	
	<!-- NAVBAR AQUI -->
  	<% if user_signed_in? %> 
    	<%= link_to "deslogar", destroy_user_session_path, method: :DELETE %>
  	<% end %>
  
    <div class="container" style="text-align: center;"> 
      <%= yield %>
    </div>

  </body>
</html>
